<nav>
  <ul class="
    flex justify-center gap-4
    [&_a]:bg-secondary [&_a]:hover:bg-secondary-light [&_a]:px-4 [&_a]:py-2 [&_a]:rounded-md
    lg:[&_a]:px-8 lg:[&_a]:py-4 lg:text-xl
  ">
    <li><a routerLink="login">login</a></li>
    <li><a routerLink="register">register</a></li>

    <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="
      h-7 fill-secondary-light
      stroke-secondary-dark
      -translate-y-1/8
      lg:h-12 lg:-translate-y-1/4
      hover:fill-secondary-dark hover:stroke-secondary-light
    ">
      <path
        d="M8 7C9.65685 7 11 5.65685 11 4C11 2.34315 9.65685 1 8 1C6.34315 1 5 2.34315 5 4C5 5.65685 6.34315 7 8 7Z" />
      <path d="M14 12C14 10.3431 12.6569 9 11 9H5C3.34315 9 2 10.3431 2 12V15H14V12Z" />
    </svg>
  </ul>
</nav>