<!-- INIT TEXTAREA -->
{{ initTextarea$ | async }}

<!-- ADDS CONFETTI AT THE END OF TYPING SESSION -->
{{ celebrateFinish$ | async }}

<!-- CLOCK -->
<p class="absolute bottom-0">clock: {{ clock$ | async }}</p>

<!-- VARIABLES -->
@let error = textLoaderService.error();
@let isLoading = textLoaderService.isLoading$ | async;
@let typingStream$ = typing$ | async;
@let isFinished = sessionFinished$ | async;
@let statusCSS = "text-3xl centered-content";

<!-- HTML -->
@if (isLoading) {
  <p [class]="statusCSS">loading...</p>
}

@else if (error) {
  <p [class]="statusCSS">error...</p>
}

@else if (isFinished) {
  <!--
  <p [class]="statusCSS"></p>
  -->
  @for (results of typingStream$?.results; track $index) {
    <p>{{ results }}</p>
  }
}

@else {
  <p
    #textElement
    class="opacity-35"
    [style.min-height.px]="hostElement.getBoundingClientRect().height"
  >{{ loadedText() }}</p>

  <textarea
    #textarea
    class="p-2 border-0 absolute top-0 left-0 w-full outline-none resize-none no-scrollbar"
    spellcheck="false"
    autofocus
    [disabled]="isFinished"
    [style.height.px]="textElement.getBoundingClientRect().height"
  ></textarea>
}