<!-- RETRIEVE FOCUS ON TEXTAREA -->
{{ textareaFocus$ | async }}

<!-- VARIABLES -->
@let error = textLoaderService.error();
@let isLoading = textLoaderService.isLoading$ | async;
@let statusCSS = "text-3xl centered-content";
@let finished = finishedTyping();

<!-- HTML -->
@if (isLoading) {
  <p [class]="statusCSS">loading...</p>
}

@else if (error) {
  <p [class]="statusCSS">error...</p>
}

@else if (finished) {
  <p [class]="statusCSS">show stats after the session</p>
}

@else {
  <p
    #textElement
    class="opacity-35"
    [style.min-height.px]="hostElement.getBoundingClientRect().height"
  >{{ loadedText() }}</p>

  <textarea
    #textarea
    class="p-2 border-0 absolute top-0 left-0 w-full outline-none resize-none no-scrollbar"
    spellcheck="false"
    autofocus
    [disabled]="finishedTyping()"
    [style.height.px]="textElement.getBoundingClientRect().height"
  ></textarea>
}