<!-- INIT TEXTAREA -->
{{ initTextarea$ | async }}

<!-- TYPING STREAM -->
@let typingStream = typing$ | async;

<!-- ADDS CONFETTI AT THE END OF TYPING SESSION + SAVES SESSION -->
@let saveSessionResult = onSessionFinished$ | async;

<!-- CLOCK -->
<p class="absolute bottom-0">clock: {{ clock$ | async | clock }}</p>

<!-- VARIABLES -->
@let text = loadedText();
@let error = textLoaderService.error();
@let isLoading = textLoaderService.isLoading$ | async;
@let isFinished = sessionFinished$ | async;
@let statusCSS = "text-3xl centered-content";


<!-- HTML -->
@if (isLoading) {
  <p [class]="statusCSS">loading...</p>
}

@else if (error) {
  <p [class]="statusCSS">error...</p>
}

@else if (isFinished) {
  <p [class]="statusCSS">show results in results component</p>
}

@else {
  <div
    #charactersParent
    [style.min-height.px]="hostElement.getBoundingClientRect().height"
    class="opacity-50"
  >
    @for (char of text; track $index) {
      <!-- use typoo in order to match background with the foreground text (except Enter or Space) -->
      @let typoo = activeTypoos.get($index);
      @let charIsInvisible = char === " " || char === "Enter";
      @let typooIsInvisible = typoo === " " || typoo === "Enter";
      @let replacement = (typooIsInvisible) ? char : (charIsInvisible) ? char : typoo;

      <!-- TODO: if mistake is made at the end of line: no highlighting -->
      <span [class]="{
        'bg-invalid': typoo,
        'text-invisible-typoo': typooIsInvisible,
        }"
      >{{ (typoo) ? replacement : char }}</span>
    }
  </div>

  <textarea #textarea class="p-2 border-0 absolute top-0 left-0 w-full outline-none resize-none no-scrollbar"
    spellcheck="false" autofocus [disabled]="isFinished"
    [style.height.px]="charactersParent.getBoundingClientRect().height">
  </textarea>
}
