@use "tailwindcss";

@layer base {
  // dark mode is the default color scheme
  :root {
    color: rgb(236, 236, 236);
    background-color: rgb(49, 49, 49);

    --primary-color-light: rgb(41, 122, 117);
    --primary-color: rgb(16, 82, 78);
    --primary-color-dark: rgb(13, 43, 41);

    --secondary-color-light: rgb(160, 160, 77);
    --secondary-color: rgb(112, 112, 34);
    --secondary-color-dark: rgb(58, 58, 17);
  }

  [data-theme="light"] {
    color: rgb(49, 49, 49);
    background-color: rgb(236, 236, 236);

    --primary-color-light: rgb(107, 179, 134);
    --primary-color: rgb(79, 155, 108);
    --primary-color-dark: rgb(50, 114, 75);

    --secondary-color: rgb(90, 90, 39);
    --secondary-color-dark: rgb(85, 85, 28);
    --secondary-color-light: rgb(160, 160, 77);
  }

  [data-theme="blues"] {
    color: rgb(196, 196, 240);
    background-color: rgb(32, 32, 94);

    --primary-color-light: rgb(115, 115, 221);
    --primary-color: rgb(77, 77, 228);
    --primary-color-dark: rgb(53, 53, 199);

    --secondary-color: rgb(100, 161, 92);
    --secondary-color-dark: rgb(59, 109, 53);
    --secondary-color-light: rgb(154, 206, 147);
  }

  nav a:hover,svg:hover {
    cursor: pointer;
  }

  nav a,svg {
    transition: all 0.5s linear;
  }

  button:hover {
    cursor: pointer;
  }
}

@theme {
  --color-primary: var(--primary-color);
  --color-primary-dark: var(--primary-color-dark);
  --color-primary-light: var(--primary-color-light);

  --color-secondary: var(--secondary-color);
  --color-secondary-dark: var(--secondary-color-dark);
  --color-secondary-light: var(--secondary-color-light);
}
